<!-- This page is where the user should be able to search through all the movies
     The page should only have a search bar and the results should only show up when you search
     Also add buttons to sort search results by ascending or descending order of title or rank

     Think about the experience from the user's perspective. Is this the design you would want
     to experience if you were using someone else's built application?
 -->

<div ng-controller="ListController">
	<div class="container">
		<h1>IMDB Movie List</h1>
	</div>
	<form ng-submit="getMovies()" class="form-inline">
		<input type="text" class="form-control" id="movieSearchInput" placeholder="Enter Search Here" ng-model="movieText.title" required>
		<button type="submit" class="btn btn-primary">submit</button>
	</form>
	<br>
	<div class="nav">
		<div class="container">
			<ul class="pull-right">
				<li>Sort by:</li>
				<li ng-click="sorting = 'rank'">Rank 1-250</li>
				<li ng-click="sorting = '-rank'">Rank 250-1</li>
				<li ng-click="sorting = 'title'">Title A-Z</li>
				<li ng-click="sorting = '-title'">Title Z-A</li>
			</ul>
		</div>
	</div>
	<br>
	<div class="movie-list">
		<div class="container">
			<div class="row">
				<div class="col-md-6" ng-repeat="movie in movies | filter:movieText | orderBy:sorting">
					<div class="col-md-12">
					<div class="panel">
						<h2>{{movie.title}}</h2>
						<p><strong>IMDB Rank: </strong>{{movie.rank}}</p>
						<p><strong>Released: </strong>{{movie.released}}</p>
						<p><strong>Director: </strong>{{movie.director[0]}}</p>
						<br>
					</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
