<!-- This page is where the user should be able to search through all the movies
     The page should only have a search bar and the results should only show up when you search
     Also add buttons to sort search results by ascending or descending order of title or rank

     Think about the experience from the user's perspective. Is this the design you would want
     to experience if you were using someone else's built application?
 -->

<div ng-controller="listController">
  <h1>This is the list page!</h1>
</div>
